<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route url="/admin/" module="Posts" action="index" nom="index"></route>
  <route url="/admin/p=([0-9]+)" module="Posts" action="index" vars="page" nom="indexPage"></route>
  <route url="/admin/news-insert\.html" module="Posts" action="insert" nom="postCreate"></route>
  <route url="/admin/news-update-([0-9]+)\.html" module="Posts" action="update" vars="id" nom="postUpdate"></route>
  <route url="/admin/news-delete-([0-9]+)\.html" module="Posts" action="delete" vars="id" nom="postDelete"></route>
  <route url="/admin/comment-update-([0-9]+)\.html" module="Posts" action="updateComment" vars="id" nom=""></route>
  <route url="/admin/comment-delete-([0-9]+)\.html" module="Posts" action="deleteComment" vars="id" nom=""></route>
</routes>