{% extends 'layout.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block content %}

	{% if user.hasFlash() %}
		{% set flash = user.getFlash() %}

		<div class="{{ flash[1] }}" role="alert">
			{{ flash[0] }}
		</div>
	{% endif %}

	<h3 style="margin-bottom: 30px;">Définissez un nouveau mot de passe</h3>

	<form class="row g-4" action="" method="post">

		<div class="col-md-6">
			<input type="password" name="password" class="form-control" placeholder="Indiquez votre mot de passe" required>
		</div>

		<div class="col-md-6">
			<input type="password" name="password_confirm" class="form-control" placeholder="Confirmez votre mot de passe" required>
		</div>

		<div class="col-12">
			<button type="submit" class="btn btn-primary">Enregistrer</button>
		</div>
	</form>

{% endblock %}
