{% extends 'layout.twig' %}

{% block title %}"Modifier mon compte"
{% endblock %}

{% block content %}

	<div style="max-width: 700px;margin: 0 auto;">
		{% if user.hasFlash() %}
			{% set flash = user.getFlash() %}

			<div class="{{ flash[1] }}" role="alert">
				{{ flash[0] }}
			</div>
		{% endif %}
		<h2>Modifier mon compte</h2>
		<form class="row g-3" action="" method="post" enctype="multipart/form-data" style="max-width: 700px;">
			<input type="hidden" name="token" value="{{user.getAttribute('token')}}">
			{{form | raw}}
				<div class="col-12 submit">
					<button type="submit" class="btn btn-primary">Enregristrer</button>
				</div>
			</form>
		</div>
	{% endblock %}
