{% extends 'layout.twig' %}

{% block content %}

	<!-- Services-->
	<section class="page-section" id="services">
		<div class="container">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">Services</h2>
				<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<span class="fa-stack fa-4x">
						<i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fab fa-wordpress-simple fa-stack-1x fa-inverse" data-fa-transform="grow-10"></i>
					</span>
					<h4 class="my-3">Création de sites WordPress</h4>
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
						                        architecto quo inventore harum ex magni, dicta impedit.</p>
				</div>
				<div class="col-md-4">
					<span class="fa-stack fa-4x">
						<i class="fas fa-circle fa-stack-2x text-primary"></i>
						<i class="fab fa-sass fa-stack-1x fa-inverse" data-fa-transform="grow-3 right-0.5"></i>
					</span>
					<h4 class="my-3">Intégration de maquettes</h4>
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
						                        architecto quo inventore harum ex magni, dicta impedit.</p>
				</div>
				<div class="col-md-4">
					<span class="fa-stack fa-4x">
						<i class="fas fa-circle fa-stack-2x text-primary"></i>
						<i class="fab fa-php fa-stack-1x fa-inverse" data-fa-transform="grow-5"></i>
					</span>
					<h4 class="my-3">Création de sites avec PHP</h4>
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
						                        architecto quo inventore harum ex magni, dicta impedit.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Portfolio Grid-->
	<section class="page-section bg-light" id="portfolio">
		<div class="container">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">Portfolio</h2>
				<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
			</div>
			<div class="row">
				<div
					class="col-lg-4 col-sm-6 mb-4">
					<!-- Portfolio item 1-->
					<div class="portfolio-item">
						<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fas fa-plus fa-3x"></i>
								</div>
							</div>
							<img class="img-fluid" src="assets/img/portfolio/1.jpg" alt="..."/>
						</a>
						<div class="portfolio-caption">
							<div class="portfolio-caption-heading">Site WordPress pour une agence immobilière</div>
							<div class="portfolio-caption-subheading text-muted">Projet pédagogique</div>
						</div>
					</div>
				</div>
				<div
					class="col-lg-4 col-sm-6 mb-4">
					<!-- Portfolio item 2-->
					<div class="portfolio-item">
						<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fas fa-plus fa-3x"></i>
								</div>
							</div>
							<img class="img-fluid" src="assets/img/portfolio/2.jpg" alt="..."/>
						</a>
						<div class="portfolio-caption">
							<div class="portfolio-caption-heading">Front-End du site d'un festival de films réalisé en HTML/SASS</div>
							<div class="portfolio-caption-subheading text-muted">Projet pédagogique</div>
						</div>
					</div>
				</div>
				<div
					class="col-lg-4 col-sm-6 mb-4">
					<!-- Portfolio item 3-->
					<div class="portfolio-item">
						<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fas fa-plus fa-3x"></i>
								</div>
							</div>
							<img class="img-fluid" src="assets/img/portfolio/3.jpg" alt="..."/>
						</a>
						<div class="portfolio-caption">
							<div class="portfolio-caption-heading">Base de données MySQL d'une application de restauration en ligne</div>
							<div class="portfolio-caption-subheading text-muted">Projet pédagogique</div>
						</div>
					</div>
				</div>
				<div
					class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
					<!-- Portfolio item 4-->
					<div class="portfolio-item">
						<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fas fa-plus fa-3x"></i>
								</div>
							</div>
							<img class="img-fluid" src="assets/img/portfolio/4.jpg" alt="..."/>
						</a>
						<div class="portfolio-caption">
							<div class="portfolio-caption-heading">Réalisation d'un blog professionnel avec PHP</div>
							<div class="portfolio-caption-subheading text-muted">Projet pédagogique</div>
						</div>
					</div>
				</div>
				<div
					class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
					<!-- Portfolio item 5-->
					<div class="portfolio-item">
						<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fas fa-plus fa-3x"></i>
								</div>
							</div>
							<img class="img-fluid" src="assets/img/portfolio/5.jpg" alt="..."/>
						</a>
						<div class="portfolio-caption">
							<div class="portfolio-caption-heading">Southwest</div>
							<div class="portfolio-caption-subheading text-muted">Website Design</div>
						</div>
					</div>
				</div>
				<div
					class="col-lg-4 col-sm-6">
					<!-- Portfolio item 6-->
					<div class="portfolio-item">
						<a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fas fa-plus fa-3x"></i>
								</div>
							</div>
							<img class="img-fluid" src="assets/img/portfolio/6.jpg" alt="..."/>
						</a>
						<div class="portfolio-caption">
							<div class="portfolio-caption-heading">Window</div>
							<div class="portfolio-caption-subheading text-muted">Photography</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About-->
	<section class="page-section" id="about">
		<div class="container">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">À propos</h2>
				<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
			</div>
			<ul class="timeline">
				<li>
					<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="..."/></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="subheading">Benoît LASCAZE</h4>
						</div>
						<div class="timeline-body">
							<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
								                                voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
								                                unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
						</div>
					</div>
				</li>
				<li class="timeline-inverted">
					<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="..."/></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4>Mars 2012</h4>
							<h4 class="subheading">An Agency is Born</h4>
						</div>
						<div class="timeline-body">
							<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
								                                voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
								                                unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
						</div>
					</div>
				</li>
				<li>
					<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..."/></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4>December 2015</h4>
							<h4 class="subheading">Transition to Full Service</h4>
						</div>
						<div class="timeline-body">
							<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
								                                voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
								                                unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
						</div>
					</div>
				</li>
				<li class="timeline-inverted">
					<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="..."/></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4>July 2020</h4>
							<h4 class="subheading">Phase Two Expansion</h4>
						</div>
						<div class="timeline-body">
							<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
								                                voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
								                                unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
						</div>
					</div>
				</li>
				<li class="timeline-inverted">
					<div class="timeline-image">
						<h4>
							<a target="_blank" href="CV.pdf">
                                Consulter
                                <br/>
                                mon
                                <br/>
                                CV !
                            </a>
						</h4>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<!-- Clients-->
	{# <div class="py-5">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-3 col-sm-6 my-3">
					<a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/microsoft.svg" alt="..."/></a>
				</div>
				<div class="col-md-3 col-sm-6 my-3">
					<a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/google.svg" alt="..."/></a>
				</div>
				<div class="col-md-3 col-sm-6 my-3">
					<a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/facebook.svg" alt="..."/></a>
				</div>
				<div class="col-md-3 col-sm-6 my-3">
					<a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/ibm.svg" alt="..."/></a>
				</div>
			</div>
		</div>
	</div> #}
	<!-- Contact-->
	<section class="page-section" id="contact">
		<div class="container">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">Me contacter</h2>
				<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
			</div>
			<!-- * * * * * * * * * * * * * * *-->
			<!-- * * SB Forms Contact Form * *-->
			<!-- * * * * * * * * * * * * * * *-->
			<!-- This form is pre-integrated with SB Forms.-->
			<!-- To make this form functional, sign up at-->
			<!-- https://startbootstrap.com/solution/contact-forms-->
			<!-- to get an API token!-->
                {% if user.hasFlash() %}
                    {% set flash = user.getFlash() %}

                    <div class="{{ flash[1] }}" role="alert">
                        {{ flash[0] }}
                    </div>
                {% endif %}
				<form id="contactForm" data-sb-form-api-token="API_TOKEN" action="" method="post"> <div class="row align-items-stretch mb-5">
					<div class="col-md-6">
						<div
							class="form-group">
							<!-- Name input-->
							<input class="form-control" id="name" name="name" type="text" placeholder="Votre Nom/Prénom *" data-sb-validations="required"/>
							<div class="invalid-feedback" data-sb-feedback="name:required">Vous devez indiquer votre nom.</div>
						</div>
						<div
							class="form-group">
							<!-- Email address input-->
							<input class="form-control" id="email" name="email" type="email" placeholder="Votre Email *" data-sb-validations="required,email"/>
							<div class="invalid-feedback" data-sb-feedback="email:required">Vous devez indiquer votre email.</div>
							<div class="invalid-feedback" data-sb-feedback="email:email">Votre email n'est pas valide.</div>
						</div>
						<div
							class="form-group mb-md-0">
							<!-- Phone number input-->
							<input class="form-control" id="phone" name="phone" type="tel" placeholder="Votre Téléphone"/>
							<div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
						</div>
					</div>
					<div class="col-md-6">
						<div
							class="form-group form-group-textarea mb-md-0">
							<!-- Message input-->
							<textarea class="form-control" id="message" name="message" placeholder="Votre message *" data-sb-validations="required"></textarea>
							<div class="invalid-feedback" data-sb-feedback="message:required">Un message est requis.</div>
						</div>
					</div>
				</div>

				<!-- Submit Button-->
				<div class="text-center">
					<button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Envoyer</button>
				</div>
			</form>
		</div>
	</section>
	<!-- Portfolio Modals-->
	<!-- Portfolio item 1 modal popup-->
	<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal"/></div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div
								class="modal-body">
								<!-- Project details-->
								<h2 class="text-uppercase">Chalets et caviar</h2>
								<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
								<img class="img-fluid d-block mx-auto" src="assets/img/portfolio/1.jpg" alt="..."/>
								<p>Création d'un site WordPress pour une agence immobilière qui vend et loue des chalets de luxe. Le design du site a été créé avec Elementor et s'ajuste automatiquement à la taille de l'écran de l'utilisateur (portable, tablette et pc). Une attention particulière a été apportée à la sécurité du site en respectant les règles de bonnes pratiques et en utilisant des plugins de sécurité. L'interface d'administration de WordPress permettra au client de facilement mettre à jour son site sans passer par un prestataire externe.</p>
								<ul class="list-inline">
									<li>
										<strong>Client :</strong>
										Projet pédagogique
									</li>
									<li>
										<strong>Catégorie :</strong>
										WordPress
									</li>
								</ul>
								<a class="btn btn-info btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
									Voir le site
								</a>
								<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
									<i class="fas fa-times me-1"></i>
									Fermer le projet
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio item 2 modal popup-->
	<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal"/></div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div
								class="modal-body">
								<!-- Project details-->
								<h2 class="text-uppercase">Festival des Films de Plein Air</h2>
								<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
								<img class="img-fluid d-block mx-auto" src="assets/img/portfolio/2.jpg" alt="..."/>
								<p>Réalisation de la maquette du site d'un festival de films en HTML et CSS. Le design du site est responsive pour offrir une navigation  optimale sur tous types d’appareils : smartphones, tablettes et ordinateurs. Le code CSS a été produit à l'aide de SASS pour obtenir une meilleure organisation du code et un design facilement modifiable.</p>
								<ul class="list-inline">
									<li>
										<strong>Client :</strong>
										Projet pédagogique
									</li>
									<li>
										<strong>Catégorie :</strong>
										Front-End
									</li>
								</ul>
								<a class="btn btn-info btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
									Voir le site
								</a>
								<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
									<i class="fas fa-times me-1"></i>
									Fermer le projet
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio item 3 modal popup-->
	<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal"/></div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div
								class="modal-body">
								<!-- Project details-->
								<h2 class="text-uppercase">ExpressFood</h2>
								<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
								<img class="img-fluid d-block mx-auto" src="assets/img/portfolio/3.jpg" alt="..."/>
								<p>Conception de la base de données d'une application de restauration en ligne. <br>Production des schémas UML suivants :</p>
                                <ul style="text-align: start;padding-left: 70px;">
                                    <li>Diagrammes de cas d’utilisation</li>
                                    <li>Modèle physique de données</li>
                                    <li>Diagramme des classes</li>
                                    <li>Diagramme de séquences</li>
                                </ul>
                                <p>Livraison du code SQL contenant :</p>
                                <ul style="text-align: start;padding-left: 70px;">
                                    <li>la création de la base de données</li>
                                    <li>la création des tables (avec le moteur InnoDB pour gérer les clés étrangères)</li>
                                    <li>la création des clés étrangères et d'un index d'unicité</li>
                                    <li>une précédure pour faciliter des suppressions de commandes</li>
                                    <li>un trigger pour gérer des mises à jour dans certaines tables</li>
                                    <li>des insersions de données pour tester la base de données</li>
                                </ul>                                

								<ul class="list-inline">
									<li>
										<strong>Client :</strong>
										Projet pédagogique
									</li>
									<li>
										<strong>Catégorie :</strong>
										Langage SQL/MySQL
									</li>
								</ul>
								<a class="btn btn-info btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
									Voir le code SQL
								</a>
								<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
									<i class="fas fa-times me-1"></i>
									Fermer le projet
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio item 4 modal popup-->
	<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal"/></div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div
								class="modal-body">
								<!-- Project details-->
								<h2 class="text-uppercase">Mon Blog !</h2>
								<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
								<img class="img-fluid d-block mx-auto" src="assets/img/portfolio/4.jpg" alt="..."/>
								<p>Création d'un blog professionnel avec une interface d'administration permettant d'ajouter, modifier ou supprimer des articles et des commentaires. Seuls les utilisateurs inscrits peuvent poster des commentaires (qui seront en attente de validation avant d'être affichés). Il faudra un droit "administrateur" pour ajouter, modifier ou supprimer des articles et valider les commentaires. Les règles de bonnes pratiques ont été respectées contre les failles de sécurité (XSS, CSRF, SQL Injection, session hijacking, upload possible de script PHP).</p>
								<ul class="list-inline">
									<li>
										<strong>Client :</strong>
										Projet pédagogique
									</li>
									<li>
										<strong>Catégories :</strong>
										Front-END : Boostrap - CSS - JavaScript / Back-End : PHP - MySQL / Versioning : Git et Github
									</li>
								</ul>
								<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
									<i class="fas fa-times me-1"></i>
									Fermer le projet
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio item 5 modal popup-->
	<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal"/></div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div
								class="modal-body">
								<!-- Project details-->
								<h2 class="text-uppercase">Project Name</h2>
								<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
								<img class="img-fluid d-block mx-auto" src="assets/img/portfolio/5.jpg" alt="..."/>
								<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
									                                    adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
									                                    repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
									                                    nostrum, reiciendis facere nemo!</p>
								<ul class="list-inline">
									<li>
										<strong>Client :</strong>
										Southwest
									</li>
									<li>
										<strong>Catégorie :</strong>
										Website Design
									</li>
								</ul>
								<a class="btn btn-info btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
									Voir le projet
								</a>
								<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
									<i class="fas fa-times me-1"></i>
									Fermer le projet
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio item 6 modal popup-->
	<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal"/></div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div
								class="modal-body">
								<!-- Project details-->
								<h2 class="text-uppercase">Project Name</h2>
								<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
								<img class="img-fluid d-block mx-auto" src="assets/img/portfolio/6.jpg" alt="..."/>
								<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
									                                    adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
									                                    repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
									                                    nostrum, reiciendis facere nemo!</p>
								<ul class="list-inline">
									<li>
										<strong>Client :</strong>
										Window
									</li>
									<li>
										<strong>Catégorie :</strong>
										Photography
									</li>
								</ul>
								<a class="btn btn-info btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
									Voir le projet
								</a>
								<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
									<i class="fas fa-times me-1"></i>
									Fermer le projet
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
