{% extends 'layout.twig' %}

{% block title %}"Erreur 404"
{% endblock %}

{% block content %}

<div id="notfound">
	<div class="notfound">
		<div class="notfound-404">
			<h1>Oops!</h1>
		</div>
		<h2>404 - Cette page n'existe pas</h2>
		<a href="/">Retour à l'accueil</a>
	</div>
</div>

{% endblock %}


