{% extends 'layout.twig' %}

{% block title %}"Ajouter un article"{% endblock %}

{% block content %}

    	<h2>Ajouter un article</h2>
		<form class="row g-3" action="" method="post" enctype="multipart/form-data">
			{{form | raw}}

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enregristrer</button>
                <a href="/admin/" class="btn btn-primary">Retour</a>
            </div>
        </form>

	{% endblock %}
