{% extends 'layout.twig' %}

{% block title %}"Modification d'un article"{% endblock %}

{% block content %}

    	<h2>Modifier un article</h2>
		<form class="row g-3" action="" method="post" enctype="multipart/form-data">
            <input type="hidden" name="token" value="{{user.getAttribute('token')}}">
			{{form | raw}}

            <div class="col-12 submit">
                <button type="submit" class="btn btn-primary">Enregristrer</button>
                <a href="/admin/" class="btn btn-primary">Retour</a>
            </div>
        </form>

	{% endblock %}
